.ttt
  .ttt-row
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)
  .ttt-row
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)
  .ttt-row
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)
    .ttt-col(tic-tac-toe-spot)