
<div>

  <button ng-click="logout()">Logout</button>

  <div ng-show="signupMode">
    <h1>Sign up</h1>
    <hr>
    <form novalidate id="signupForm" name="signupForm">
      <div>
        <label for="email">Email</label>
        <div>
          <input type="email" id="email" name="email" placeholder="Email"
            ng-model="formData.email"
            required>
          <div ng-messages="signupForm.email.$error" ng-show="signupForm.email.$dirty">
            <span ng-message="required">The email is required</span>
            <span ng-message="email">Insert a correct email address</span>
          </div>
        </div>
      </div>

      <div>
        <label for="firstName">First name</label>
        <div>
          <input type="text" id="firstName" name="firstName" placeholder="First name"
            ng-model="formData.firstName"
            required>
          <div ng-messages="signupForm.firstName.$error" ng-show="signupForm.firstName.$dirty">
            <span ng-message="required">The first name is required</span>
          </div>
        </div>
      </div>

      <div>
        <label for="lastName">Last name</label>
        <div>
          <input type="text" id="lastName" name="lastName" placeholder="Last name"
            ng-model="formData.lastName"
            required>
          <div ng-messages="signupForm.lastName.$error" ng-show="signupForm.lastName.$dirty">
            <span ng-message="required">The last name is required</span>
          </div>
        </div>
      </div>

      <div>
        <label for="userType">User Type</label>
        <div>
          <select id="userType" name="userType"
            ng-model="formData.userType"
            required>
            <option value="User::GroupMember">Student</option>
            <option value="User::GroupManager">Teacher</option>
            <option value="User::Headmaster">HeadMaster</option>
          </select>
          <div ng-messages="signupForm.userType.$error" ng-show="signupForm.userType.$dirty">
            <span ng-message="required">The user type is required</span>
          </div>
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <div>
          <input type="password" id="password" name="password" placeholder="Password"
            ng-model="formData.password"
            required>
          <div ng-messages="signupForm.password.$error" ng-show="signupForm.password.$dirty">
            <span ng-message="required">The password is required</span>
          </div>
        </div>
      </div>
      <div>
        <label for="password">Confirm password</label>
        <div>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
            ng-model="formData.confirmPassword"
            required
            ui-validate="{'passwordMatch':'$value==formData.password'}"
            ui-validate-watch="'password'">
          <div ng-messages="signupForm.confirmPassword.$error" ng-show="signupForm.confirmPassword.$dirty">
            <span ng-message="passwordMatch">The passwords don't match</span>
          </div>
        </div>
      </div>
      <div>
        <button type="btn" ng-disabled="signupForm.$invalid" ng-click="signupForm.$valid && signup()">Sign up</button>
      </div>
    </form>
    <a href=" " ng-click="signupMode=false">Already have an account, log in now</a>
  </div>


  <div ng-hide="signupMode">
    <h1>Log in</h1>
    <hr>
    <form novalidate id="loginForm" name="loginForm">
      <div>
        <label for="email">Email</label>
        <div>
          <input type="email" id="email" name="email" placeholder="Email"
            ng-model="formData.email"
            required>
          <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
            <span ng-message="required">The email is required</span>
            <span ng-message="email">Insert a correct email address</span>
          </div>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <div>
          <input type="password" id="password" name="password" placeholder="Password"
            ng-model="formData.password"
            required>
          <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
            <span ng-message="required">The password is required</span>
          </div>
        </div>
      </div>
      <div>
        <button type="btn" ng-disabled="loginForm.$invalid" ng-click="loginForm.$valid && login()">Log in</button>
      </div>
    </form>
    <a href=" " ng-click="signupMode=true">Don't have an account, sign up now</a>
  </div>
</div>
