div(id='meta-templ')
    h1 Development Metadata:
    ul
        li name : {{name}}
        li description : {{description}}
        li version : {{version}}
        li license : {{license}}
        li homepage : {{homepage}}
        li repository : {{repository}}